{% load static %}

<h1>{{ deelnemer.voornaam }} {{ deelnemer.achternaam }}</h1>
<p>Ploeg: {{ deelnemer.ploegnaam }}</p>

{% if zeges_per_jaar %}
    <h2>Dagzeges</h2>
    <table border="1" cellpadding="8" cellspacing="0">
        <thead>
            <tr>
                <th>Jaar</th>
                <th>Koers</th>
            </tr>
        </thead>
            <tbody>
                {% for jaar, koersen in zeges_per_jaar.items %}
                    <tr>
                        <td>{{ jaar }}</td>
                        <td>
                            {% for koers in koersen %}
                                {{ koers.koers }}<br>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>

    </table>
{% else %}
    <p>Geen zeges gevonden.</p>
{% endif %}
